.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  width: 50rem;
}

.label {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 3% 10%;
  color: white;
  border-radius: 3px;
  background-color: #bf4f74;
  font-weight: 600;
  cursor: pointer;
}

.labelNumber {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 3% 10%;
  color: white;
  border-radius: 3px;
  background-color: #bf4f74;
  font-weight: 600;
  cursor: pointer;
  position: relative;
}

.labelNumber:focus-within {
  background-color: #962f51;
}

.labelNumber:focus-within .labelInfo {
  overflow: visible;
}

label:focus-within {
  background-color: #962f51;
}

.input {
  outline: none;
  color: #bf4f74;
  padding: 2%;
  font-weight: 600;
  border-radius: 3px;
  border: none;
  width: 200px;
  height: 40px;
}

.inputNumber input {
  outline: none;
  color: #bf4f74;
  padding: 2%;
  font-weight: 600;
  border-radius: 3px;
  border: none;
  width: 200px;
  height: 40px;
}

.inputNumber select {
  outline: none;
  color: #bf4f74;
  padding: 2%;
  font-weight: 600;
  border-radius: 7px;
  border: none;
  width: 90px;
  height: 40px;
}

.labelInfo {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  overflow: hidden;
  width: 16px;
  height: 16px;
}

.labelInfo:hover {
  overflow: visible;
}

.labelInfoDescription {
  position: absolute;
  top: 100%;
  right: 100%;
  width: 200px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 300;
  color: white;
  background-color: #bf4f74;
  border-radius: 7px;
  border: 2px dotted white;
  padding: 10px;
}

.labelInfoDescription b {
  text-decoration: underline;
}

.inputNumber img {
  outline: none;
  color: #bf4f74;
  padding: 2%;
  font-weight: 600;
  border-radius: 7px;
  border: none;
  width: 50px;
  height: 40px;
}

.inputNumber div {
  display: flex;
  flex-direction: row-reverse;
  gap: 1rem;
}

.btn {
  padding: 3% 5%;
  font-size: 1.1rem;
  font-weight: 600;
  text-align: center;
  text-transform: capitalize;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #bf4f74;
  border: none;
  border-radius: 7px;
  box-shadow: 0 9px #999;
}

.btn:hover {
  background-color: #962f51;
}

.btn:active {
  background-color: #962f51;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
