.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  width: 50rem;
}

.label {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 3% 10%;
  color: white;
  border-radius: 7px;
  background-color: #bf4f74;
  font-weight: 600;
  cursor: pointer;
}

label:active {
  background-color: #962f51;
}

label:focus-within {
  background-color: #962f51;
}

.input {
  outline: none;
  color: #bf4f74;
  padding: 2%;
  font-weight: 600;
  border-radius: 7px;
  border: none;
}

.input:focus + label {
  background-color: #962f51;
}

.btn {
  padding: 3% 5%;
  font-size: 1.1rem;
  font-weight: 600;
  text-align: center;
  text-transform: capitalize;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #bf4f74;
  border: none;
  border-radius: 7px;
  box-shadow: 0 9px #999;
}

.btn:hover {
  background-color: #962f51;
}

.btn:active {
  background-color: #962f51;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.options {
  display: flex;
  gap: 1rem;
}
